<footer class="py-8 text-xs">
        <nav class="py-8">
            {{navigation type="secondary"}}
        </nav>
        <div class="flex justify-between">
            <div class="">
                {{@site.title}} © {{date format="YYYY"}}
            </div>
            <div class="flex space-x-4 items-center">
                <p class="text-base">За підтримки:</p>
                <svg width="45" height="31" viewBox="0 0 45 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.8757 22.425C23.4995 18.5182 19.7925 18.4738 17.6615 19.0066L17.8835 12.8578C26.4296 11.9033 26.7181 0.382812 26.7181 0.382812H23.8103C23.8103 8.86228 19.3041 10.5715 18.0167 10.5715L18.2831 0.40501L15.2864 0.382812L14.4651 29.9722H17.484L17.6615 21.1819C23.9878 19.0954 23.2775 29.9278 23.2775 29.9278H26.141C26.1188 29.95 26.6071 27.3084 24.8757 22.425Z" fill="white"/>
                    <path d="M4.80914 21.8042C3.21091 22.2259 1.76807 23.3136 1.76807 25.6887C1.76807 29.3513 4.72035 30.328 6.54055 30.5944C7.18428 30.6832 7.33966 30.661 7.38406 30.661C7.69483 30.5944 8.00559 30.5944 8.29416 30.5056C9.73701 30.0173 10.9579 28.974 10.9579 26.8208C10.9579 21.4934 4.80914 21.8042 4.80914 21.8042ZM7.22868 27.9307C7.16208 27.9529 7.09549 27.9751 7.0289 27.9973C6.82912 28.0417 6.62934 28.0417 6.45176 28.0195C5.1865 27.9307 4.34299 27.5533 4.34299 25.9329C4.34299 25.1116 4.85353 24.5123 5.51946 24.3791C7.16209 24.3791 8.36075 24.5567 8.36075 26.4879C8.38295 27.3092 7.85021 27.7087 7.22868 27.9307Z" fill="white"/>
                    <path d="M9.49275 0.449219L9.67033 7.41925C9.67033 9.55022 9.62593 10.9709 9.49275 12.5691C9.24857 15.3216 8.91561 18.518 6.45168 18.518C3.98775 18.518 3.63259 14.5447 3.38842 12.5913C3.29963 11.8144 3.12205 10.6379 3.12205 7.39706C3.12205 4.15621 3.36622 0.515812 3.36622 0.515812H0.502737C0.502737 0.515812 0.280762 4.91093 0.280762 7.33046C0.280762 9.75 0.436146 11.4148 0.524936 12.5691C0.924492 17.7855 2.12316 20.6712 6.45168 20.6712C10.4472 20.6712 11.9123 17.8521 12.3562 12.5247C12.5116 10.7267 12.5116 9.39484 12.5116 7.41925L12.334 0.538009L9.49275 0.449219Z" fill="white"/>
                    <path d="M36.9511 30.3506H34.0876L34.465 0.472656H37.4617L36.9511 30.3506Z" fill="white"/>
                    <path d="M30.1143 15.5686C30.1143 13.9704 29.404 2.56084 35.7747 4.58081L35.7303 2.31666C33.5327 1.80612 30.2031 1.9837 28.4717 5.84608C27.0288 9.06472 27.051 13.482 27.051 15.5908C27.051 17.6996 27.0954 21.5398 28.4717 24.5808C30.2031 28.4432 33.5327 28.6208 35.7303 28.1102L35.7747 25.8461C29.6704 27.7551 30.1143 17.1668 30.1143 15.5686Z" fill="white"/>
                    <path d="M41.435 15.5686C41.435 13.9704 42.1454 2.56084 35.7747 4.58081L35.8191 2.31666C38.0166 1.80612 41.3462 1.9837 43.0777 5.84608C44.5205 9.06472 44.4983 13.482 44.4983 15.5908C44.4983 17.6996 44.4539 21.5398 43.0777 24.5808C41.3462 28.4432 38.0166 28.6208 35.8191 28.1102L35.7747 25.8461C41.879 27.7551 41.435 17.1668 41.435 15.5686Z" fill="white"/>
                </svg>
            </div>
        </div>
</footer>