{{!-- Featured main block --}}
<div class="mt-6 flex flex-col justify-items-center content-center lg:mb-24 md:mb-20 sm:mb-16 mb-10 text-center">
    <a href="/blog/wet-hole-about-dzherelo-and-bodies-in-the-city">
    <img src="https://ik.imagekit.io/dzherelo/images/home/hero_ckHWPJxkJP.png" alt="tila-u-misti">
    </a>
    <div class="lg:mx-72 md:mx-36 sm:mx-18">
        {{!-- TODO: Put this paragraph into the locales uk.json as "about_dzherelo"--}}
        <p class="mt-8 mb-14 text-2xl font-light">"Джерело" - виставковий простір, відкритий для вулиці. Спосіб існування "Джерела" - прозорість, відкритість погляду перехожих.</p>
        {{!-- TODO: Put this paragraph into the locales uk.json as "read_more" --}}
        <a href="/blog/wet-hole-about-dzherelo-and-bodies-in-the-city" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-brand-green py-3 text-brand-green hover:text-black hover:bg-brand-green hover:font-bold">
            читати більше
        </a>
    </div>
</div>
{{!-- End --}}