{{!-- Featured main block --}}
<div class="mt-6 flex flex-col justify-items-center content-center lg:mb-36 md:mb-32 sm:mb-24 mb-16 text-center">
    <img src="{{asset "images/hero-image.png"}}" alt="">
    <div class="lg:mx-72 md:mx-36 sm:mx-18">
        <p class="mt-8 mb-14 text-2xl font-light">"Джерело" - виставковий простір, відкритий для вулиці. Спосіб існування "Джерела" - прозорість, відкритість погляду перехожих. </p>
        <a href="/blog/wet-hole-about-dzherelo-and-bodies-in-the-city" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
            читати більше
        </a>
    </div>
</div>
{{!-- End --}}