<div class="overlay-class hidden fixed bg-brand-background h-screen w-screen inset-0 top-16 flex-col space-y-8 text-center text-lg z-40">
        {{navigation}}
        <ul class="nav justify-between">
            <li><a href="/contacts">КОНТАКТИ</a></li>
            <li><a href="/about-dzherelo">ПРО ДЖЕРЕЛО</a></li>
        </ul>
        <div class="fixed bottom-6 left-0 right-0">
                {{!-- {{#unless @member}}
                    <a class="border border-brand-green px-3 py-3 text-brand-green hover:text-black hover:bg-brand-green text-base" href="/support-dzherelo">
                        ПІДТРИМАТИ ДЖЕРЕЛО
                    </a>
                {{else}}
                    <a class="border border-brand-green px-3 py-3 text-brand-green hover:text-black hover:bg-brand-green text-base" href="#/portal/account">
                        МОЄ ДЖЕРЕЛО
                    </a>
                {{/unless}} --}}
        </div>
        
</div>
    