<nav class="flex justify-between items-center text-base uppercase">
    {{^if prev}}
        <div class="h-10 w-40"></div>
    {{/if}}
    {{#if prev}}
        <a class="hover:bg-brand-green hover:text-brand-background p-1" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> Нові публікації</a>
    {{/if}}
    <div class="bg-brand-green p-1 py-1">
        <span class="text-brand-background">{{page}} із {{pages}}</span>
    </div>
    {{#if next}}
        <a class="hover:bg-brand-green hover:text-brand-background p-1" href="{{page_url next}}">Старші публікації <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
    {{^if next}}
        <div class="h-10 w-40"></div>
    {{/if}}
</nav>