{{!< default}}

{{#post}}
<main id="{{slug}}" class="mb-6">
    <article id="{{slug}}">
        <h1 class="uppercase lg:text-4xl text-3xl mt-2 text-center">{{title}}</h1>
        <section class="gh-content gh-canvas container">
            {{content}}
        </section>
    </article>
</main>
{{/post}}