{{!< default}}

{{#post}}
<main id="{{slug}}" class="mb-6">
    <article id="{{slug}}">
        <h1 class="uppercase text-4xl mt-2">{{title}}</h1>
        <section class="gh-content gh-canvas container">
            {{content}}
        </section>
    </article>
</main>
{{/post}}