<!DOCTYPE html>
<html lang="{{@site.locale}}">
{{> head}}
<body class="{{body_class}} bg-brand-background text-white lg:mx-8 md:mx-6 sm:mx-4 mx-2">
<div class="mx-auto max-w-7xl">
    {{!-- TODO: Make overlay disable scroll of the screen --}}
    {{> overlay}}
    {{> header}}
    {{{ body }}}        
    {{> footer}}
</div>
<div class="hidden">
{{#is "post, page"}}
    {{> pswp}}
{{/is}}
</div>
{{!-- TODO: Refactor overlay script --}}
<script>
    var overlay = document.getElementsByClassName('overlay-class');
    var burger = document.getElementsByClassName('gh-burger');

    var changeState = function(){
        if (document.body.classList.contains('is-head-open')){
            document.body.classList.remove('is-head-open');
            overlay[0].classList.add('hidden');
        }else{
            document.body.classList.add('is-head-open');
            overlay[0].classList.remove('hidden');
            }
        }
        for(var i = 0; i <burger.length; i++){
            burger[i].addEventListener('click', changeState, false);
        }
</script>
{{ghost_foot}}
</body>
</html>