{{!< default}}

<main class="my-60">
    <div class="text-center flex-col w-full">
        <h1 class="text-9xl text-brand-green">404</h1>
        <h1 class="text-5xl font-extralight uppercase">Упс, невідомий напрямок</h1>
        <div class="mt-6">
            <a href="/" class="uppercase px-2 py-2 border border-brand-green text-brand-green hover:text-brand-background hover:bg-brand-green">
               <span aria-hidden="true">&larr;</span> на головну 
            </a>
        </div>
    </div>
    
</main>